{% extends 'base.html.twig' %}

{% block title %}Edit Gerants{% endblock %}

{% block body %}
    <h1>Edit Gerants</h1>

    {{ include('gerants/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gerants_index') }}">Retour</a>

    {{ include('gerants/_delete_form.html.twig') }}
{% endblock %}
