{% extends 'base.html.twig' %}

{% block title %}New Suites{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle suite</h1>

    {{ include('suites/_form.html.twig') }}

    <a href="{{ path('app_suites_index') }}">Retour</a>
{% endblock %}
