{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
<div class="newCompte">
    <h1 class='h1newClient'>Créer un compte</h1>

    {{ include('clients/_form.html.twig') }}

</div>
{% endblock %}
